#log {
  margin-top: 300px;
  padding: 10px;
}
#log #nav {
  height: 50px;
  line-height: 50px;
  margin: 0px 20px;
  border-bottom: 2px solid #f90;
}
#log #nav #nav-left {
  width: 700px;
  float: left;
  height: 48px;
  line-height: 48px;
}
#log #nav #nav-left a {
  margin-right: 40px;
  display: inline-block;
}
#log #nav #nav-left a:hover {
  color: #f30;
  border-bottom: 2px solid #f30;
}
#log #nav #nav-right {
  width: 330px;
  float: right;
  height: 48px;
  line-height: 48px;
}
#log #nav #nav-right a {
  margin-right: 40px;
  display: inline-block;
}
#log #nav #nav-right a:hover {
  color: #f30;
  border-bottom: 2px solid #f30;
}
#log #content {
  width: 830px;
  float: left;
  margin: 0px 20px;
  padding: 10px 0px;
}
#write-log,
#theme-log {
  padding: 8px 12px;
  background: #f90;
  color: #fff;
  margin: 10px 0px;
  border-radius: 6px;
  display: inline-block;
}
#log #content #log-cate {
  width: 100%;
  border: 1px solid #f90;
  margin: 20px 0px;
  padding: 0px;
  list-style: none;
}
#log #content #log-cate li {
  padding: 5px 10px 5px 20px;
  border-bottom: 1px solid #f90;
  font-size: 16px;
}
#log #content #log-cate li:last-child {
  border-bottom: none;
}
#log #cate {
  margin: 0px 20px;
  width: 200px;
  float: right;
  height: 28px;
  line-height: 28px;
}
