<extend name="Realize/add"/>
<block name="head">
<!-- <form class="form-horizontal" action="{:U('Assoc/insert')}" method="post"> -->
<form class="form-horizontal" id="upd-realize">
<input type="hidden" name="id" value="{$info.id}"/>
</block>
<block name="flag">
    <foreach name="data" item="v">
    <option value="{$key}" <if condition="$info['did'] eq $key">selected</if>>{$v}</option>
    </foreach>
</block>
<block name="foot">
<button type="button" id="updbtn" class="btn btn-default">修改实现</button>
<input type="hidden" value="{:U('Realize/update')}"/>
</block>
<block name='tail'>
<script type="text/javascript">
	clickForm($('#updbtn'), $('#upd-realize'));
</script>
</block>