<div class='admin-mess'>{$_GET['mess']}</div>
<div id = 'right' class="col-md-10">
	<table class="table table-striped">
	    <thead>
	    	<tr>
	    		<th>编号</th>
	    		<if condition="$flag eq 1">
	    		<th>标题</th>
	    		<else />
	    		<th>分类名</th>
	    		</if>
	    		<th>父 id</th>
	    		<th>添加时间</th>
	    		<th>操作</th>
	    	</tr>
	    </thead>
	    <tbody>
	    	<foreach name='info' item='v'>
	    	<tr>
	    		<td>{$v.id}</td>
	    		<td>
	    		    <if condition="$flag eq 1">
	    		    <a class="add" href="javascript:void(0);">{$v.title}</a>
				  	<input type="hidden" name="" value="{:U('TechnPage/techn', array('id'=>$v[id]))}"/>
	    		    <else />
	    		    <a class="add" href="javascript:void(0);">{$v.catename}</a>
				  	<input type="hidden" name="" value="{:U('TechnPage/show', array('id'=>$v[id]))}"/>
	    		    </if>
	    		</td>
	    		<td>{$v.pid}</td>
	    		<td>{:date('Y-m-d H:i:s', $v[addtime])}</td>
	    		<td>
	    		    <if condition="$flag eq 1">
	    		    <a class="add" href="javascript:void(0);">显示文章详情</a>
				  	<input type="hidden" name="" value="{:U('TechnPage/techn', array('id'=>$v[id]))}"/>
	    		    <else />
	    		    <a class="add" href="javascript:void(0);">显示所有子分类</a>
				  	<input type="hidden" name="" value="{:U('TechnPage/show', array('id'=>$v[id]))}"/>
	    		    </if>
	    		</td>
	    	</tr>
	    	</foreach>
	    	<tr><td colspan="5" id='page'><if condition="$count neq '0'">共有 {$count} 条记录 {$page}<else />没有数据</if></td></tr>
	    </tbody>
    </table>
</div>
<script type="text/javascript">
	click($('#add a'));// 动态加载添加界面模板
	click($('.add'));
	click($('.upd'));// 动态加载修改界面模板
</script>