<extend name="AssocPage/add"/>
<block name="head">
<!-- <form class="form-horizontal" action="{:U('Assoc/insert')}" method="post"> -->
<form class="form-horizontal" id="upd-assoc-page">
<input type="hidden" name="id" value="{$info.id}"/>
</block>
<block name="assoc">
<foreach name='assoc' item='v'>
<option value="{$key}" <if condition="$info['assoc'] eq $key">selected</if>>{$v}</option>
</foreach>
</block>
<block name="pid">
<foreach name='data' item='v'>
<option value="{$key}" <if condition="$info['pid'] eq $key">selected</if>>{$v}</option>
</foreach>
</block>
<block name="foot">
<button type="button" id="updbtn" class="btn btn-default">修改关联页</button>
<input type="hidden" value="{:U('AssocPage/update')}"/>
</block>
<block name='tail'>
<script type="text/javascript">
	clickForm($('#updbtn'), $('#upd-assoc-page'));
</script>
</block>