<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>cursor属性</title>
	<style>
		.cursor-item{
			width:240px;
			height:40px;
			padding:20px;
			font-size:30px;
			font-family: "Microsoft YaHei";
			background-color:#eee;
			margin-top:10px;
			border:1px solid #ccc;
			text-align:center;
			line-height:40px;
			font-weight: bolder;
			float:left;
			margin-right:10px;
			box-shadow:2px 2px 5px #ddd;
			color:#777;
		}
	</style>
</head>
<body>
		<div class="cursor-item" style="cursor:auto"> auto</div>
		<div class="cursor-item" style="cursor:default">default </div>  
		<div class="cursor-item" style="cursor:none "> none</div>
		<div class="cursor-item" style="cursor:context-menu">context-menu </div> 
		<div class="cursor-item" style="cursor:help "> help</div>
		<div class="cursor-item" style="cursor:pointer">pointer</div> 
		<div class="cursor-item" style="cursor:progress "> progress</div>
		<div class="cursor-item" style="cursor:wait "> wait</div>
		<div class="cursor-item" style="cursor:cell "> cell</div>
		<div class="cursor-item" style="cursor:crosshair">crosshair </div> 
		<div class="cursor-item" style="cursor:text "> text</div>
		<div class="cursor-item" style="cursor:vertical-text">vertical-text </div> 
		<div class="cursor-item" style="cursor:alias ">alias </div>
		<div class="cursor-item" style="cursor:copy "> copy</div>
		<div class="cursor-item" style="cursor:move ">move </div> 
		<div class="cursor-item" style="cursor:no-drop ">no-drop </div>
		<div class="cursor-item" style="cursor:not-allowed">not-allowed </div> 
		<div class="cursor-item" style="cursor:e-resize ">e-resize </div>
		<div class="cursor-item" style="cursor:n-resize ">n-resize  </div>
		<div class="cursor-item" style="cursor:ne-resize ">ne-resize </div>
		<div class="cursor-item" style="cursor:nw-resize ">nw-resize </div>
		<div class="cursor-item" style="cursor:s-resize "> s-resize</div>
		<div class="cursor-item" style="cursor:se-resize ">se-resize </div>
		<div class="cursor-item" style="cursor:sw-resize ">sw-resize </div>
		<div class="cursor-item" style="cursor:w-resize ">w-resize </div>
		<div class="cursor-item" style="cursor:ew-resize ">ew-resize </div>
		<div class="cursor-item" style="cursor:ns-resize "> ns-resize</div>
		<div class="cursor-item" style="cursor:nesw-resize "> nesw-resize</div>
		<div class="cursor-item" style="cursor:nwse-resize ">nwse-resize</div>
		<div class="cursor-item" style="cursor:col-resize "> col-resize </div>
		<div class="cursor-item" style="cursor:row-resize ">row-resize </div>
		<div class="cursor-item" style="cursor:all-scroll">all-scroll </div>
</body>
</html>