<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vertical-align</title>
	<style>
		body{

			
		}
		img{

			width:50px;
			height:50px;
			background:50px;
			background:#666;
		}
	</style>
</head>
<body>
	hello world！ 
	<img src="./images/bg02.jpg" style="vertical-align:baseline" title="baseline"> 
	<img src="./images/bg02.jpg" style="vertical-align:sub" title="sub"> 
	<img src="./images/bg02.jpg" style="vertical-align:super" title="super"> 
	<img src="./images/bg02.jpg" style="vertical-align:top" title="top"> 
	<img src="./images/bg02.jpg" style="vertical-align:text-top" title="top"> 
	<img src="./images/bg02.jpg" style="vertical-align:middle" title="middle"> 
	<img src="./images/bg02.jpg" style="vertical-align:bottom" title="bottom"> 
	<img src="./images/bg02.jpg" style="vertical-align:text-bottom" title="bottom"> 
	<img src="./images/bg02.jpg" style="vertical-align:100%"  title="100%">
	<img src="./images/bg02.jpg" style="vertical-align:16px" title="16px">

	<hr>
	<span style="text-decoration:underline;">hellow world</span>
	<span style="text-decoration:overline;">hellow world</span>
	<span style="vertical-align:baseline">：baseline </span>
	<span style="vertical-align:sub">：sub </span>
	<span style="vertical-align:super">：super  </span>
	<span style="vertical-align:top">：top  </span>
	<span style="vertical-align:text-top">：text-top  </span>
	<span style="vertical-align:middle">：middle  </span>
	<span style="vertical-align:bottom">：bottom  </span>
	<span style="vertical-align:text-bottom">：text-bottom  </span>
	<span style="vertical-align:100%">：100%  </span>
	<span style="vertical-align:-200%">：-200%  </span>
	<span style="vertical-align:16px">： 16px</span> 
	<span style="vertical-align:-16px">： -16px</span> 
	<span style="vertical-align:32px">： 32px</span> 
	
	<hr>
</body>
</html>