<form class="form-horizontal" id="add-assoc">
    <div class="form-group">
        <label for="tablename" class="col-sm-2 control-label">名称</label>
        <div class="col-sm-8">{$info.name}</div>
    </div>
    <div class="form-group">
        <label for="authname" class="col-sm-2 control-label">表结构</label>
        <div class="col-sm-8">{:nl2br($info[struct])}</div>
    </div>
    <div class="form-group">
        <label for="authname" class="col-sm-2 control-label">备注</label>
        <div class="col-sm-8">{:nl2br($info[note])}</div>
    </div>
</form>
