<extend name="Assoc/add"/>
<block name="head">
<!-- <form class="form-horizontal" action="{:U('Assoc/insert')}" method="post"> -->
<form class="form-horizontal" id="upd-assoc">
<input type="hidden" name="id" value="{$info.id}"/>
</block>
<block name="main">
<foreach name='data' item='v'>
<option value="{$key}" <if condition="$info['aid'] eq $key">selected</if>>{$v}</option>
</foreach>
</block>
<block name="foot">
<button type="button" id="updbtn" class="btn btn-default">修改关联目录表</button>
<input type="hidden" value="{:U('Assoc/update')}"/>
</block>
<block name='tail'>
<script type="text/javascript">
	clickForm($('#updbtn'), $('#upd-assoc'));
</script>
</block>