<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>商城管理系统</title>
		<link rel="stylesheet" type="text/css" href="{$smarty.const.__ROOT__}/Public/css/admin.css">
	</head>
	<body class='bgimg'>
	<div class="main-header"><a href="{$smarty.const.__MODULE__}/Manager/add">添加管理员</a></div>
	<div class='admin-mess'>{$mess}</div>
	    <ul class="showlist">
	        <li class="header">
	        	<span>编号</span>
	        	<span>管理员名字</span>
	        	<span>注册时间</span>
	        	<span>角色</span>
	        	<span>操作</span>
	        </li>
	        {foreach $info as $k => $v}
	        <li class="text">
	            <!--<span>{$v.id}</span>-->
	            <span>{$v@iteration}</span>
	            <span>{$v.username}</span>
	            <span>{$reg[$v.id]}</span>
	            <span>{$rinfo[$v.rid]}</span>
	            <span>
	            	<a href="{$smarty.const.__CONTROLLER__}/mod/id/{$v.id}">修改</a>
	            	<a href="{$smarty.const.__CONTROLLER__}/del/id/{$v.id}">删除</a>
	            </span>
	        </li>
	        {/foreach}
	    </ul>
	</body>
</html>