<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>商城管理系统</title>
		<link rel="stylesheet" type="text/css" href="{$smarty.const.__ROOT__}/Public/css/admin.css">
	</head>
	<body class="bgimg">

		<form action="{$smarty.const.__CONTROLLER__}/insert" method="post">
		<input type="hidden" name='pid' value="{$pid}"/>
		<input type="hidden" name="path" value="{$path}"/>
		<ul class="exec">
		    <li>
				<span class='add-text'>添加到</span>
				<span>{$catename}{*如果是不是添加子类就显示顶级分类*}</span>
			</li>
			<li>
				<span class='add-text'>商品类别</span>
				<input type='text' name='catename' placeholder='请输入您要添加的商品类别' autofocus value="" />
			</li>
			<li>
				<span class='add-text'></span>
				<input type='submit' class='submitbtn' value="添加商品类别" />
			</li>
		</ul>
		</form>
	</body>
</html>