<extend name='Layout/tpl'/>
<block name='style'>

</block>
<block name='main'>
<h1>发表文章</h1>

	<div class="container">
		<div class="row">
			<div class="col-md-2" style="background:pink">1111</div>
			<div class="col-md-8" style="background:#aaa">
				发表文章
			</div>
			<div class="col-md-2" style="background:green">333</div>
		</div>
		<div class="row">
			<div class="col-md-2" style="background:pink">1111</div>
			<div class="col-md-8" style="background:#ccc">2222</div>
			<div class="col-md-2" style="background:green">333</div>
		</div>
	</div>
</block>