<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>display</title>
	<style>

		body{
			font-family: "Microsoft YaHei";
		}

		.display-list{
			margin-top:20px;
		}
		.list-item{
			width:150px;
			height:150px;
			border:1px solid #8d8d8d;
			padding:10px;
			background: #dedede;
		}
	</style>
</head>
<body>
	<hr>
	<div class="display-list">
		<div class="list-item" style="display:none">：none 隐藏对象。与visibility属性的hidden值不同，其不为被隐藏的对象保留其物理空间 </div>
		<div class="list-item" style="display:none">：none 隐藏对象。与visibility属性的hidden值不同，其不为被隐藏的对象保留其物理空间 </div>
		<div class="list-item" style="display:none">：none 隐藏对象。与visibility属性的hidden值不同，其不为被隐藏的对象保留其物理空间 </div>
		<div class="list-item" style="display:none">：none 隐藏对象。与visibility属性的hidden值不同，其不为被隐藏的对象保留其物理空间 </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:inline">：inline 指定对象为内联元素。 </div>
		<div class="list-item" style="display:inline">：inline 指定对象为内联元素。 </div>
		<div class="list-item" style="display:inline">：inline 指定对象为内联元素。 </div>
		<div class="list-item" style="display:inline">：inline 指定对象为内联元素。 </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:block">：block 指定对象为块元素。 </div>
		<div class="list-item" style="display:block">：block 指定对象为块元素。 </div>
		<div class="list-item" style="display:block">：block 指定对象为块元素。 </div>
		<div class="list-item" style="display:block">：block 指定对象为块元素。 </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:list-item">：list-item 指定对象为列表项目。 </div>
		<div class="list-item" style="display:list-item">：list-item 指定对象为列表项目。 </div>
		<div class="list-item" style="display:list-item">：list-item 指定对象为列表项目。 </div>
		<div class="list-item" style="display:list-item">：list-item 指定对象为列表项目。 </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:inline-block">：inline-block 指定对象为内联块元素。（CSS2）</div>
		<div class="list-item" style="display:inline-block">：inline-block 指定对象为内联块元素。（CSS2）</div>
		<div class="list-item" style="display:inline-block">：inline-block 指定对象为内联块元素。（CSS2）</div>
		<div class="list-item" style="display:inline-block">：inline-block 指定对象为内联块元素。（CSS2）</div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:table">：table 指定对象作为块元素级的表格。类同于html标签&lt;table&gt;（CSS2）</div>
		<div class="list-item" style="display:table">：table 指定对象作为块元素级的表格。类同于html标签&lt;table&gt;（CSS2）</div>
		<div class="list-item" style="display:table">：table 指定对象作为块元素级的表格。类同于html标签&lt;table&gt;（CSS2）</div>
		<div class="list-item" style="display:table">：table 指定对象作为块元素级的表格。类同于html标签&lt;table&gt;（CSS2）</div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:inline-table">：inline-table 指定对象作为内联元素级的表格。类同于html标签&lt;table&gt;（CSS2）</div>
		<div class="list-item" style="display:inline-table">：inline-table 指定对象作为内联元素级的表格。类同于html标签&lt;table&gt;（CSS2）</div>
		<div class="list-item" style="display:inline-table">：inline-table 指定对象作为内联元素级的表格。类同于html标签&lt;table&gt;（CSS2）</div>
		<div class="list-item" style="display:inline-table">：inline-table 指定对象作为内联元素级的表格。类同于html标签&lt;table&gt;（CSS2）</div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:table-caption">：table-caption 指定对象作为表格标题。类同于html标签&lt;caption&gt;（CSS2） </div>
		<div class="list-item" style="display:table-caption">：table-caption 指定对象作为表格标题。类同于html标签&lt;caption&gt;（CSS2） </div>
		<div class="list-item" style="display:table-caption">：table-caption 指定对象作为表格标题。类同于html标签&lt;caption&gt;（CSS2） </div>
		<div class="list-item" style="display:table-caption">：table-caption 指定对象作为表格标题。类同于html标签&lt;caption&gt;（CSS2） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:table-cell">：table-cell 指定对象作为表格单元格。类同于html标签&lt;td&gt;（CSS2） </div>
		<div class="list-item" style="display:table-cell">：table-cell 指定对象作为表格单元格。类同于html标签&lt;td&gt;（CSS2） </div>
		<div class="list-item" style="display:table-cell">：table-cell 指定对象作为表格单元格。类同于html标签&lt;td&gt;（CSS2） </div>
		<div class="list-item" style="display:table-cell">：table-cell 指定对象作为表格单元格。类同于html标签&lt;td&gt;（CSS2） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:table-row">：table-row 指定对象作为表格行。类同于html标签&lt;tr&gt;（CSS2） </div>
		<div class="list-item" style="display:table-row">：table-row 指定对象作为表格行。类同于html标签&lt;tr&gt;（CSS2） </div>
		<div class="list-item" style="display:table-row">：table-row 指定对象作为表格行。类同于html标签&lt;tr&gt;（CSS2） </div>
		<div class="list-item" style="display:table-row">：table-row 指定对象作为表格行。类同于html标签&lt;tr&gt;（CSS2） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:table-row-group">：table-row-group 指定对象作为表格行组。类同于html标签&lt;tbody&gt;（CSS2）</div>
		<div class="list-item" style="display:table-row-group">：table-row-group 指定对象作为表格行组。类同于html标签&lt;tbody&gt;（CSS2）</div>
		<div class="list-item" style="display:table-row-group">：table-row-group 指定对象作为表格行组。类同于html标签&lt;tbody&gt;（CSS2）</div>
		<div class="list-item" style="display:table-row-group">：table-row-group 指定对象作为表格行组。类同于html标签&lt;tbody&gt;（CSS2）</div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:table-column">：table-column 指定对象作为表格列。类同于html标签&lt;col&gt;（CSS2） </div>
		<div class="list-item" style="display:table-column">：table-column 指定对象作为表格列。类同于html标签&lt;col&gt;（CSS2） </div>
		<div class="list-item" style="display:table-column">：table-column 指定对象作为表格列。类同于html标签&lt;col&gt;（CSS2） </div>
		<div class="list-item" style="display:table-column">：table-column 指定对象作为表格列。类同于html标签&lt;col&gt;（CSS2） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:table-column-group">：table-column-group 指定对象作为表格列组显示。类同于html标签&lt;colgroup&gt;（CSS2）</div>
		<div class="list-item" style="display:table-column-group">：table-column-group 指定对象作为表格列组显示。类同于html标签&lt;colgroup&gt;（CSS2）</div>
		<div class="list-item" style="display:table-column-group">：table-column-group 指定对象作为表格列组显示。类同于html标签&lt;colgroup&gt;（CSS2）</div>
		<div class="list-item" style="display:table-column-group">：table-column-group 指定对象作为表格列组显示。类同于html标签&lt;colgroup&gt;（CSS2）</div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:table-header-group">：table-header-group 指定对象作为表格标题组。类同于html标签&lt;thead&gt;（CSS2） </div>
		<div class="list-item" style="display:table-header-group">：table-header-group 指定对象作为表格标题组。类同于html标签&lt;thead&gt;（CSS2） </div>
		<div class="list-item" style="display:table-header-group">：table-header-group 指定对象作为表格标题组。类同于html标签&lt;thead&gt;（CSS2） </div>
		<div class="list-item" style="display:table-header-group">：table-header-group 指定对象作为表格标题组。类同于html标签&lt;thead&gt;（CSS2） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:table-footer-group">：table-footer-group 指定对象作为表格脚注组。类同于html标签&lt;tfoot&gt;（CSS2） </div>
		<div class="list-item" style="display:table-footer-group">：table-footer-group 指定对象作为表格脚注组。类同于html标签&lt;tfoot&gt;（CSS2） </div>
		<div class="list-item" style="display:table-footer-group">：table-footer-group 指定对象作为表格脚注组。类同于html标签&lt;tfoot&gt;（CSS2） </div>
		<div class="list-item" style="display:table-footer-group">：table-footer-group 指定对象作为表格脚注组。类同于html标签&lt;tfoot&gt;（CSS2） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:compact">：compact 分配对象为块对象或基于内容之上的内联对象（CSS3） </div>
		<div class="list-item" style="display:compact">：compact 分配对象为块对象或基于内容之上的内联对象（CSS3） </div>
		<div class="list-item" style="display:compact">：compact 分配对象为块对象或基于内容之上的内联对象（CSS3） </div>
		<div class="list-item" style="display:compact">：compact 分配对象为块对象或基于内容之上的内联对象（CSS3） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:run-in">：run-in 分配对象为块对象或基于内容之上的内联对象（CSS3） </div>
		<div class="list-item" style="display:run-in">：run-in 分配对象为块对象或基于内容之上的内联对象（CSS3） </div>
		<div class="list-item" style="display:run-in">：run-in 分配对象为块对象或基于内容之上的内联对象（CSS3） </div>
		<div class="list-item" style="display:run-in">：run-in 分配对象为块对象或基于内容之上的内联对象（CSS3） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:ruby">：ruby 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby">：ruby 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby">：ruby 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby">：ruby 将对象作为表格脚注组显示（CSS3） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:ruby-base">：ruby-base 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby-base">：ruby-base 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby-base">：ruby-base 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby-base">：ruby-base 将对象作为表格脚注组显示（CSS3） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:ruby-text">：ruby-text 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby-text">：ruby-text 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby-text">：ruby-text 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby-text">：ruby-text 将对象作为表格脚注组显示（CSS3） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:ruby-base-group">：ruby-base-group 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby-base-group">：ruby-base-group 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby-base-group">：ruby-base-group 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby-base-group">：ruby-base-group 将对象作为表格脚注组显示（CSS3） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:ruby-text-group">：ruby-text-group 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby-text-group">：ruby-text-group 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby-text-group">：ruby-text-group 将对象作为表格脚注组显示（CSS3） </div>
		<div class="list-item" style="display:ruby-text-group">：ruby-text-group 将对象作为表格脚注组显示（CSS3） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:box">：box 将对象作为弹性盒模型显示（CSS3） </div>
		<div class="list-item" style="display:box">：box 将对象作为弹性盒模型显示（CSS3） </div>
		<div class="list-item" style="display:box">：box 将对象作为弹性盒模型显示（CSS3） </div>
		<div class="list-item" style="display:box">：box 将对象作为弹性盒模型显示（CSS3） </div>
	</div>



	<hr>
	<div class="display-list">
		<div class="list-item" style="display:inline-box">：inline-box 将对象作为内联块级弹性盒模型显示（CSS3）</div>
		<div class="list-item" style="display:inline-box">：inline-box 将对象作为内联块级弹性盒模型显示（CSS3）</div>
		<div class="list-item" style="display:inline-box">：inline-box 将对象作为内联块级弹性盒模型显示（CSS3）</div>
		<div class="list-item" style="display:inline-box">：inline-box 将对象作为内联块级弹性盒模型显示（CSS3）</div>
	</div>

</body>
</html>			




