echo "welcome to php world";  // 打印第一个 php 程序

phpinfo(); // 显示 php 信息函数

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>HTML中嵌套PHP</title>
		<style>
			body{
				// 输出颜色值
				background:rgb(<?php echo rand(0,255);?>, <?php echo rand(0,255);?>, <?php echo rand(0,255);?>);
			}
		</style>
	</head>
	<body>
		<h1>HTML嵌套PHP</h1>
		<?php
		    echo 1+1;
		?>
		<hr>
		<?php
			echo date("Y-m-d H:i:s");
			
			echo "<h3>艳艳我爱你</h3>";
		?>
		<hr>
		<img src="../images/bg02.jpg" width="<?php echo rand(100,200);?>">


		<h1>PHP标记</h1>
		<hr>
		<?php
			echo "我是标准风格， 我爱小艳艳";
		?>
		<hr>
		<script language="php">
		    echo "我是长风格，我爱小艳艳";
		</script>
		<hr>
		<?
		    echo "我是短风格,我爱小艳艳";
		?>
		<hr>
		<%
		    echo "我是asp风格，我爱小艳艳";
		%>
		<hr>
		
		<?php
		    echo time();
		?>
	</body>
</html>


    # 脚本注释 不常用
	echo time();
	echo "<br>";
	
	/*
	多行注释
	功能： 实现时间输出
	作者： 小艳艳
	时间： 2015年4月1日
	*/
	echo time();
	echo "<br>";
    
	//输出时间  单行注释
	echo time();
	echo "<br>";
	
	/*
		啊，我是注释
		不能嵌套 
	*/
	
	
	//注释
	echo time();
	
	echo time(); //输出时间  注释


    总结
	========================================
	1. 新建php
	文件后缀 .php
	必须通过apache（服务器）运行
	2. php嵌套在html中
		文件后缀 .php
		php标记：
			<?php  ?>
			<script language="php"></script>
			<? ?>  
			<% %> 
		psr 标准 推荐   <?php ?>   <? ?>
		纯php文件  省略 结束标签   <?php  
	2.  注释
		//  单行注释
		#   单行注释
		/*
		     多行注释
		*/
	3. php 指令分隔符  
		;
	4. 空白符的使用
		注释前面有空行
		逻辑代码段 空行
		缩进四个空格  

		PHP的基本语法
==========================================================
1.  PHP语法标记
	文件后缀   php
	文件编码 UTF8无BOM
	php的标记
		<?php ?>
		<script language="php"></scirpt>
		<? ?>
		<% %>
2. 指令分隔符
	;
3. 注释
	#
	// 单行注释
	/* 多行注释 */
4. 空白符
	提高代码可读性
	//
	a = b
5. 变量
	$
	数字 字母 下划线 不能以数字开头
	变量名区分大小写
	函数： isset()   unset()  empty()
6. 数据类型
	标量：   int   float   boolean   string
	复合类型： object  array
	特殊类型： resource   null
7. 数据类型的转换
	gettype($var)
	var_dump()
	强制转换
		(int)$var
		settype($var, 'type')
	自动转换
		数值环境:
		字符串环境
		布尔值环境
8. 常量
	定义  define()   const
    特点： 定义后不能修改
	          不用$
			  值只能是标量
			  建议使用大写， 区分大小写
              常量命名   同变量
9. 运算符
	一元   二元  三元   1+1  4++
	数学运算符
		+   -  *   /   %   ++   --   $a ++  //  $a = $a + 1;        echo $a ++   echo ++ $a;
	字符串运算符
		.
	赋值运算符
		=
		+=    $a += 3  //  $a = $a + 3
		-=
		*=
		/=
		%=
		.=
	比较运算符
		>
		<
		>=
		<=
		==
		!=
		===
		!==
	逻辑运算符
		and   &&
		or     ||
		!
		xor
	位运算符
		&
		|
		^
		<<
		>>
	其他运算符
		? :
		``
		@
		=>
		->
		instanceof
10 优先级
     （）
     1.  流程控制概述
	1.1 概述
	    任何 PHP 脚本都是由一系列语句构成的。一条语句可以是一个赋值语句，一个函数调用，一个循环，甚至一个什么也不做的（空语句）条件语句。
		语句通常以分号结束。此外，还可以用花括号将一组语句封装成一个语句组。语句组本身可以当作是一行语句。本章讲述了各种语句类型。
	1.2 在任何一门程序设计语言中，都需要支持满足程序结构化所需要的三种基本结构:
		顺序结构
		分支结构（选择结构）
		循环结构
2. 顺序结构
	在程序结构中，最基本的就是顺序结构。程序会按照自上而下的顺序执行。
3. 分支结构
	3.1  单一条件分支结构(if)
	3.2  双向条件分支结构(else从句)
	3.3  多向条件分支结构(elseif子句)
	3.4  多向条件分支结构(switch语句)
	3.5  巢状条件分支结构(嵌套)
4.  循环结构
	4.1  while语句
	4.2  do...while循环
	4.3  for语句
	4.4  特殊的流程控制语句
	       break;    跳出整个循环
		   continue；  跳出本次循环
5. 流程语句的替代语法

1. 控制 结构
	顺序  --- 
	分支
	循环
2. 分支
	单项分支
	if (表达式){
	    code.....
	}
	双向分支
	if (表达式){
	    code...
	}else{
	    
	}
	多向分支
	if (表达式){
	    code....
	}elseif (表达式){
		code....
	}elseif (表达式){
	    code....
	}else {
	    
	}
	多向分支 
	switch (表达式){
	    case 表达式可能值: code...; break;
	    case 表达式可能值: code...; break;
	    case 表达式可能值: code...; break;
	    case 表达式可能值: code...; break;
	    case 表达式可能值: code...; break;
		default: code.....;
	}
	巢状分支（分支结构的嵌套）
	
	2. 循环结构
		while
			while(表达式) {
			    code....
			}
		do--while
		    do {
			    code...
			}while(表达式);
		for
		   for (初始化循环变量; 循环判断条件; 循环变量变化){
		       
		   }
		   
		循环 嵌套
		
		1.  流程控制概述
	1.1 概述
	    任何 PHP 脚本都是由一系列语句构成的。一条语句可以是一个赋值语句，一个函数调用，一个循环，甚至一个什么也不做的（空语句）条件语句。
		语句通常以分号结束。此外，还可以用花括号将一组语句封装成一个语句组。语句组本身可以当作是一行语句。本章讲述了各种语句类型。
	1.2 在任何一门程序设计语言中，都需要支持满足程序结构化所需要的三种基本结构:
		顺序结构
		分支结构（选择结构）
		循环结构
2. 顺序结构
	在程序结构中，最基本的就是顺序结构。程序会按照自上而下的顺序执行。
3. 分支结构
	3.1  单一条件分支结构(if)
	3.2  双向条件分支结构(else从句)
	3.3  多向条件分支结构(elseif子句)
	3.4  多向条件分支结构(switch语句)
	3.5  巢状条件分支结构(嵌套)
4.  循环结构
	4.1  while语句
	4.2  do...while循环
	4.3  for语句
	4.4  特殊的流程控制语句
	       break;    跳出整个循环
		   continue；  跳出本次循环
5. 流程语句的替代语法