<!--author:lishuo;time:2015-7-31-->
<extend name='Layout/tpl'/>
<block name='style'>
	<style>
		ul{
			list-style: none;
		}
	</style>
	<script type="text/javascript">
		$(function(){
			//光告轮播
			setInterval(function(){
				$('.Jsimg li:last').prependTo('.Jsimg').show().siblings('li').hide();
			},1500);

			//异步加载主体内容
			click($('#liter'));
			click($('#tech'));
			click($('#edu')); 
			function click(click){
				click.click(function(){
					$url=$(this).next('input')[0].value;
					ajax($url);
				})
			}
			function ajax($url){
				$.ajax({
					url:$url,
					success:function(html){
						$('.mains').html('');
						$('.mains').append(html);
					}
				})
			}

			//异步搜索
			$('.selects').blur(function(){
				// alert('hello');
				$url="{:U('Resource/selects')}";
				$val=$(this).val();
				$.ajax({
					url:$url,
					data:{val:$val},
					success:function(data){
						alert(data);
					}
				});

			});


		});
	</script>
</block>
	<block name='main'>
	<div class='container' style='margin-top:80px'>
		<div class='row'>
			<div class='col-md-2 left'>
				<div class="list-group">
				  <a href="javascript:void(0)" class="list-group-item active" style="background:#99CC33;border:1px solid #86B729">
				    分类列表
				  </a>
				  <a href="javascript:void(0)" class="list-group-item" id='liter'>文学</a>
				  <input type='hidden' value="{:U("Resource/literature")}">
				  <a href="javascript:void(0)" class="list-group-item" id='tech'>技术</a>
				  <input type='hidden' value="{:U("Resource/technology")}">
				  <a href="javascript:void(0)" class="list-group-item" id='edu'>教育</a>
				  <input type='hidden' value="{:U("Resource/education")}">
				  <a href="{:U('Resource/add')}" class="list-group-item">共享我的资料</a><br>
				  &nbsp;分类中搜索<input class="selects" type='text' placeholder="输入关键字">
				</div>
			</div>
			<div class='col-md-7 mains' style='background:#FFFBE4;border-top:3px solid #99CC33;height:1000px'>

				<!--主体开始-->
				<script type="text/javascript">
						function load($id){	
						    var $url="{:U('Resource/download')}";
							$.ajax({
								url:$url,
								data:{id:$id},
								success:function(demo){
									if(demo){
										var path=$('#test').attr('data')+'/Uploads/'+demo;
										location.href = path;
									 	 // alert(demo);
									 }else{
									 	alert('您的积分不够，请分享资源！');	 
									 }	
								}
							});
						}
					</script>
					<div id='test' data="__ROOT__"></div>
					<h1 class="label label-success">高下载量</h1><br/><br/>
					<volist name="data" id="vo">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h3 class="panel-title">题目：{$vo.header}
									&nbsp;&nbsp;<span class="badge">{$vo.score}</span> 
									<small><span>&nbsp;&nbsp;&nbsp;&nbsp;分享者:{$vo.username} &nbsp; 分享时间:{:date('Y-m-d',$vo['addtime'])} &nbsp;下载: {$vo.download} 次</span></small>
								</h3>
							</div>
							<div class="panel-body">
								简介：{:htmlspecialchars_decode($vo['main'])}
								<nav>
								  <ul class="pager" style="margin:0px">  
								    <li class="next"><a><button onclick="load({$vo.id})">下载 <span aria-hidden="true">&rarr;</span></button></a></li>
								  </ul>
								</nav>
							</div>
						</div>
					</volist>
					<center>
						<nav>
							<ul class="pagination">
								<li>
									<a href="#" aria-label="Previous">
										<span aria-hidden="true"><<</span>
									</a>
								</li>
								<li>
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">>></span>
									</a>
								</li>
							</ul>
						</nav>
					</center>

				<!--主体结束-->
			</div>
	    <div class='col-md-3'>
	   		<div>
	   			<ul class='Jsimg' style="padding-left:0px;">
	   				<li style="display:block">
	   					<img src='__PUBLIC__/Home/Images/resource/r1.jpg'>
	   				</li >
	   				<li>
	   					<img src='__PUBLIC__/Home/Images/resource/r2.jpg'>
	   				</li>
	   				<li>
	   					<img src='__PUBLIC__/Home/Images/resource/r3.jpg'>
	   				</li>
	   				<li>
	   					<img src='__PUBLIC__/Home/Images/resource/r4.jpg'>
	   				</li>
	   			</ul>
			</div>
	   </div>
	</div>
 </div>
</block>
