<extend name="Module/add"/>
<block name="head">
<!-- <form class="form-horizontal" action="{:U('Assoc/insert')}" method="post"> -->
<form class="form-horizontal" id="upd-module">
<input type="hidden" name="id" value="{$info.id}"/>
</block>
<block name="foot">
<button type="button" id="updbtn" class="btn btn-default">修改模块</button>
<input type="hidden" value="{:U('Module/update')}"/>
</block>
<block name='tail'>
<script type="text/javascript">
	clickForm($('#updbtn'), $('#upd-module'));
</script>
</block>