<extend name='Layout/index'/>
<block name='resource'>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/Css/apeng.css"/>
</block>
<block name='main'>
<div class='admin-mess'>{$_GET['mess']}</div>
<div id = 'right' class="col-md-10">
	<table class="table table-striped">
	    <thead>
	    	<tr>
	    		<th>编号</th>
	    		<th>标题</th>
	    		<th>作者</th>
	    		<th>发布时间</th>
	    		<th>操作</th>
	    	</tr>
	    </thead>
	    <tbody>
	    	<foreach name='info' item='v'>
	    	<tr>
	    		<td>{$v.id}</td>
	    		<td>{$v.title}</td>
	    		<td>{$v.username}</td>
	    		<td>{:date('Y-m-d H:i:s', $v[addtime])}</td>
	    		<td>
	    			<a class="detail" href="javascript:void(0);">查看详情</a>
				  	<input type="hidden" name="" value="{:U('Advice/detail', array('id'=>$v[id], 'name'=>$v[username]))}"/>
	    		</td>
	    	</tr>
	    	</foreach>
	    	<tr><td colspan="5" id='page'><if condition="$count neq '0'">共有 {$count} 条记录 {$page}<else />没有数据</if></td></tr>
	    </tbody>
    </table>
</div>
<script type="text/javascript">
	// 动态加载查看详情界面模板
	click($('.detail'));
</script>
</block>