<extend name="Function/add"/>
<block name="head">
<!-- <form class="form-horizontal" action="{:U('Assoc/insert')}" method="post"> -->
<form class="form-horizontal" id="upd-function">
<input type="hidden" name="id" value="{$info.id}"/>
</block>
<block name="cate">
<foreach name='cate' item='v'>
<option value="{$key}" <if condition="$info['id'] eq $key">selected</if>>{$v}</option>
</foreach>
</block>
<block name="foot">
<button type="button" id="updbtn" class="btn btn-default">修改功能</button>
<input type="hidden" value="{:U('Function/update')}"/>
</block>
<block name='tail'>
<script type="text/javascript">
	clickForm($('#updbtn'), $('#upd-function'));
</script>
</block>